/* styles.css */

/* {
    outline: 2px solid red;
}*/

.title {
    color:  red;
    font-family: 'Film Cryptic';
    text-align: center;
    font-size: 80px;
    border: double 10px red;
    background-color: transparent;
}

.intro {
    font-family:  'Comic Sans MS', 'Comic Sans', 'cursive';
    position: relative;
    color: goldenrod;
    background-color: transparent;
    border: 10px inset sandybrown;
    box-shadow: 2px 8px 32px;
    line-height: .75em;
    white-space: pre-line;
    font-size: 22px;
    text-align: center;
    
    
}

.link {
    font-size: 35px;
    font-family: 'Film Cryptic', 'Comic Sans MS', 'Comic Sans', 'cursive';
    font-weight: bold;
    text-align: center;
}

.content {
    margin: 5px;
    margin-left: 15px;
    font-size: 22px;
    font-family:  'Comic Sans MS', 'Comic Sans', 'cursive';
    text-indent: 30px; 


}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../odin-recipes/pics/runes1.png'); 
  background-size: cover; 
  background-position: center; 
  opacity: 0.3; 
  z-index: -1; 
}

.body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../odin-recipes/pics/runes1.png'); 
  background-size: cover; 
  background-position: center; 
  opacity: 0.3; 
  z-index: -1;
}
